body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}

.bone{
  background: url('bone.png');
  width: 244px;
  height:251px;
}

.seconddancer{
  border:none;
  position:absolute;
  background: url('dog.png');
  width: 260px;
  height: 194px;
}

.effects{
  -webkit-animation-name: roll-in, scale-up;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes roll-in {
  0%{-webkit-transform: translateX(-200px)rotate(0deg);}
  100%{-webkit-transform: translateX(0px)rotate(360deg);}
}

@-webkit-keyframes scale-up{
  0%{-webkit-transform:scale(1);}
  25%{-webkit-transform:scale(1.2);}
  60%{-webkit-transform:scale(1);}
  100%{-webkit-transform:scale(1.2);}
}

